<div class="center jumbotron">
<h1>ZEUS Dictionary</h1>

<div class="center">
    <p>Please enter the directory name to create dictionaries by category!</p>
    <%= form_with(model: @dictionary) do |f| %>
        <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, :placeholder => "Enter directory name...", class: "form-control", style: "max-width: 500px; margin: 0 auto;" %>
        </div>
        <div class="form-group">
            <%= f.submit "create dictionary", class: "btn btn-primary" %>
        </div>
    <% end %>
</div>

</div>



<div class="list-group center" style="max-width: 500px; margin: 0 auto;">
    <%= @dictionaries.each do |dictionary| %>
        <%= link_to normalize(dictionary.name), dictionary_words_path(dictionary), class: "list-group-item list-group-item-action" %>
    <% end %>
</div>
