<div class="row" style="padding-bottom: 5px; margin-bottom : 30px; border-bottom: 2px dotted black;">
    <div class="col-xs-2 center">
        <h3><%= normalize(@word.name) %></h1>
    </div>
    
    <div class="col-xs-4">
        <%= button_to  image_tag("trash.svg", width: "20"), dictionary_word_path(@dictionary, @word, current_id: @current_id), method: :delete, class: "btn btn-sm", style: "margin: 20px;" %>
    </div>
</div>

<div class="row">
    <!--ここで、@current_idををparamsとして-->
    <%= form_with(model: @word, url: dictionary_word_path(@dictionary, @word, current_id: @current_id), method: :patch) do |f| %>
        <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control", style: "height: 100px;" %>
        </div>

        <div class="form-group">
            <%= f.label :meaning %>
            <%= f.text_field :meaning, class: "form-control", style: "height: 150px;" %>
        </div>
    
        <div class="form-group center">
            <%= f.submit "Update", class: "btn btn-primary" %>
        </div>
    <% end %>
</div>



