<div class="row" style="padding-bottom: 5px; margin-bottom : 30px; border-bottom: 2px dotted black;">
    <div class="col-xs-2 center">
        <h3><%= @dictionary.name %></h3>
    </div>
    
    <div class="col-xs-4">
        <%= button_to image_tag("trash.svg", width: "20"), @dictionary, method: :delete, class: "btn btn-sm", style: "margin: 20px;" %>
    </div>
</div>

<div class="row">
    <div class="col-xs-6 center">
        <!-- URLを指定 -->
        <%= form_with(model: [@word], url: dictionary_words_path(@dictionary)) do |f| %>
            <div class="form-group">
                <%= f.label :name %>
                <%= f.text_area :name , class: "form-control", style: "height: 100px;" %>
            </div>
            <div class="form-group">
                <%= f.label :meaning %>
                <%= f.text_area :meaning , class: "form-control", style: "height: 150px;" %>
            </div>
            <div class="form-group center">
                <%= f.submit "add", class: "btn btn-primary" , style: "width: 300px" %>
            </div>
        <% end %>
    </div>
    
    <div class="col-xs-6" style="margin-top: 25px;">
        <div class="list-group center" style="max-width: 500px; margin: 0 auto;">
            <% if @words.length==0 %>

            <% else %>
                <% @words.each do |word| %>
                    <%= link_to_review(word.name) %>
                <% end %>
            <% end %>
            
        </div>
    </div>
</div>



