<h1><%= @dictionary.name %></h1>

<div class="row">
    <!-- URLを指定 -->
    <%= form_with(model: [@word], url: dictionary_words_path(@dictionary)) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :meaning %>
        <%= f.text_field :meaning %>
    <%= f.submit "add", class: "btn" %>
    <% end %>

    <%= @words.each do |word| %>
        <p><%= link_to_review(word.name) %></p>
    <% end %>
    
</div>

