<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse custom-navbar-padding">
      <div class="container">
        <%= link_to image_tag("list.svg", width: "45"), root_path, id: "logo" %>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
